{% extends "gestion_pedidos_app/base.html" %}

{% load static %}
{% load index_1 %}

{% block content %}

	{% for post in posts %}

		 <section class="page-section clearfix">
		  <div class="container">
		    <div class="intro">
		      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 65%;">
		      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
		        <h2 class="section-heading mb-4" >
		          <span class="section-heading-lower" style="font-size: 2.5rem;">{{post.titulo}}</span>
		        </h2>
		        <p class="mb-3" style="font-size: 1.40rem" >{{post.contenido}}</p>
		        <p class="mb-3" style="text-align: left; margin-bottom: -1.25rem !important; margin-top: 2rem; font-size: 1rem; color: gray;">Autor: {{post.autor}}</p>
		        
		        <p class="mb-3" style="text-align: right; margin-bottom: -1.25rem !important; margin-top: 2rem; font-size: 1rem; color: yellow;">
		   			{% for i in categorias|index:forloop.counter0 %}
		   					{% if forloop.last %}
		   						{{ i }}
		   					{% else %}
		   						{{ i }} / 
		   					{% endif %}

 		   			{% endfor %}
		    	</p>
		
		       
		      </div>
		    </div>
		  </div>
		</section>

	{% endfor %}

	<section> <!-- donde van a ir las categorias en el pie de pagina para poder filtrar resultados por categoria, la categoria deberia aparecer una sola vez... -->
		<div style="width:75%; margin:auto; text-align: center; color: white;">
			Categorias:
				{% for c in categorias_unicas %}
					<a href="{% url 'categoria' c.id %}" style="text-decoration: none; color: yellow;" >{{ c }}</a>
				{% endfor %}
		</div>

	</section>

{% endblock %}